<table class="company-table mt-5">
  <thead>
      <tr>
          <th>Company Name</th>
          <th>Logo</th>
          <th>Contact No</th>
          <th>Email</th>
          <th>Action</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of list">
          <td>{{ item.companyName }}</td>
          <td>{{ item.logo }}</td>
          <td>{{ item.contactNo }}</td>
          <td>{{ item.email }}</td>
          <td><button class="view-button" (click)="viewFile(item.id)">View</button></td>
      </tr>
  </tbody>
</table>
