<div class="registration-form">
  <h2>Register</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name" />
      <div
        class="error"
        *ngIf="
          registrationForm.controls['name'].hasError('required') &&
          registrationForm.controls['name'].touched
        "
      >
        Name is required
      </div>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" formControlName="username" />
      <div
        class="error"
        *ngIf="
          registrationForm.controls['username'].hasError('required') &&
          registrationForm.controls['username'].touched
        "
      >
        Username is required
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" />
      <div
        class="error"
        *ngIf="
          registrationForm.controls['password'].hasError('required') &&
          registrationForm.controls['password'].touched
        "
      >
        Password is required
      </div>
      <div
        class="error"
        *ngIf="
          registrationForm.controls['password'].hasError('invalidPassword') &&
          registrationForm.controls['password'].touched
        "
      >
        Password must be at least 6 characters long and include a number, a
        letter, and a special character.
      </div>
    </div>
    <div class="form-group">
      <label for="role">Role</label>
      <input type="text" id="role" formControlName="role" />
      <div
        class="error"
        *ngIf="
          registrationForm.controls['role'].hasError('required') &&
          registrationForm.controls['role'].touched
        "
      >
        Role is required
      </div>
    </div>
    <button type="submit" [disabled]="registrationForm.invalid">
      Register
    </button>
  </form>
</div>
