<div class="main-div">
  <h2>Work History Details</h2>
  <div class="button-container">
    <button class="add-wh-btn" (click)="addwh()">UserDetails</button>
  </div>
  <div class="table-container">
    <table>
      <tr>
        <th>ID</th>
        <th>Company Name</th>
        <th>Job Title</th>
        <th>Project Name</th>
        <!-- <th>Project Description</th> -->
        <th>Tech Stack</th>
        <th>Job City</th>
        <!-- <th>Job Country</th> -->
        <th>Start Date</th>
        <th>End Date</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let wh of list">
        <td>{{ wh.id }}</td>
        <td>{{ wh.companyName }}</td>
        <td>{{ wh.jobTitle }}</td>
        <td>{{ wh.projectName }}</td>
        <!-- <td>{{ wh.projectDescription }}</td> -->
        <td>{{ wh.techStack }}</td>
        <td>{{ wh.jobCity }}</td>
        <!-- <td>{{ wh.jobCountry }}</td> -->
        <td>{{ wh.startDate | date: 'yyyy-MM-dd' }}</td>
        <td>{{ wh.endDate | date: 'yyyy-MM-dd'}}</td>
        <td>
          <span class="view-btn">
            <a href="" [routerLink]="wh.id" (click)="editwh(wh.id)"
              ><i class="fa-regular fa-eye"></i
            ></a>
          </span>
          <span class="delete-btn">
            <a href="" [routerLink]="wh.id" (click)="deleteWorkExp(wh.id)">
              <i class="fa-regular fa-trash-can"></i>
            </a>
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>
