<nav class="navbar container-fluid">
  <div class="logo">
    <a href="#">{{ title }}</a>
  </div>
  <ul class="nav-links">
    <li><a href="#">Home</a></li>
    <li><a routerLink="WorkHistory/list">Work History</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>
    <li><a routerLink="Auth/register">Register</a></li>
    <li><a routerLink="Auth/login">Login</a></li>
    <li><a routerLink="Auth/login" (click)="logout()">Logout</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
